.aside {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: #164f64;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside__title {
    font-size: max(2.5vw, 30px);
    color:hsl(183, 100%, 96%);
    font-weight: 600;
}

.aside__nav {
    display: grid;
    gap: 2rem;
}

.nav__ul {
    display: grid;
    gap: .8rem;
    justify-content: start;
    align-items: flex-end;

}

.ul__li {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 1vw;
    justify-content: center;
}

.li__icon {
    font-size: max(1.2rem, 18px);
    color:hsl(183, 100%, 96%);
}

.li__page, .li__section {
    color:hsl(183, 100%, 96%);
    font-size: max(1.2rem, 18px);
    text-decoration: none;
    font-weight: 300;
}
