:root {
    --slate-300: #cbd5e1;
    --stone-900: #1c1917;
}

*, *:before, *:after {
    box-sizing: border-box;
 }
 
 html > * {
    font-family: 'Roboto', sans-serif;
    color: var(--stone-900);
}

.container{
    display: grid;
    grid-template-columns: max(1fr, 190px) repeat(9, 1fr);
    max-width: 1600px;
    gap: 1em;
    margin: 0 auto;
}

