.main{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 11;
}

.avatar, .avatar__img {
    width: 80px;
    height: 80px;
}

/* ----- HEADER */

.main__header{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1em;
    padding: 1rem 1rem;
    background-color: var(--neutral-50);
    box-shadow: 0px 1px 5px -2px black;
}

/* HEADER - SEARCH */

.header__search{
    display: flex;
}

.search__container {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.search__button{
    background: none;
    border: none;
    padding: 10px 10px;
}

.search__input{
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    border: none;
    background-color: var(--slate-300);
    padding: 5px 10px;
    margin-left: .2rem;
}

.button__icon--search {
    font-size: 1rem;
}

/* HEADER - PROFILE */

.header__profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile__button{
    background: none;
    border: none;
}

.button__icon--profile{
    font-size: 1rem;
}

.profile__avatar{
    width: 50px;
    height: 50px;
    border-radius: 0px;
}

.profile__name{
    font-weight: 600;
}

/* HEADER - GREETINGS */

.header__greetings{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greetings__text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: .9rem;
    gap: .2rem;
}

.greetings__text > span {
    font-size: 1.2rem;
}

/* HEADER - ACTION */

.header__action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 2rem;
}

.action__button{
    border-radius: 25px;
    border: none;
    background-color: var(--teal-900);
    color: white;
    padding: .5rem 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

/* ----- SECTIONS */

.main__sections {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: .5rem;
    grid-template-areas: 
    "your-projects announcements"
    "your-projects announcements"
    "your-projects trending"
    "your-projects trending";
    padding: 1rem;
}

.sections__section {
    border: 1px solid black; /*delete later*/
}

.section__header{
    font-size: max(1.3vw, 20px);
    margin-bottom: .5rem;
    font-weight: 600;
}

/* SECTIONS - YOUR PROJECTS */

.sections__section--your-projects {
    grid-area: your-projects;
    padding: .5rem;
}

.section__container--your-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    
}

.section__container--your-projects .section__article {
    background: var(--slate-300);
    border-left: .3rem solid var(--teal-900);
    border-radius: 15px;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.section__container--your-projects .content__header {
    font-size: max(1.3vw, 20px);
    font-weight: 500;
    margin-bottom: .4rem;
    color: var(--stone-900);
}

.section__container--your-projects .content__text {
    text-align: justify;
}

.section__container--your-projects .article__buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.section__container--your-projects .buttons__button {
    font-size: 1.3rem;
    color: var(--teal-900)
}

/**/

.sections__section--announcements {
    grid-area: announcements;
}

.sections__section--trending {
    grid-area: trending;
}
