.main{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 11;
}

/* HEADER */

.main__header{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1em;
    padding: .5em 1em;
}

.header__search{
    display: flex;
}

.header__profile{
    display: flex;
}

.greetings__text {
    display: flex;
    flex-direction: column;
}

/* SECTIONS */

.main__sections {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 2em;
    grid-template-areas: 
    "your-projects announcements"
    "your-projects announcements"
    "your-projects trending"
    "your-projects trending";
}

.sections__section {
    border: 1px solid black; /*delete later*/
}

.sections__section--your-projects {
    grid-area: your-projects;
}

.sections__section--announcements {
    grid-area: announcements;
}

.sections__section--trending {
    grid-area: trending;
}
